body {
	display: grid;
	grid-template-columns: 15% 65% 20%;
	grid-template-rows: 10vw auto 5vh; 
}
header {
	grid-column: 1 / 4;
	grid-row: 1;
	display: grid;
	grid-template-columns: 80% 20%;
	background: red;
}
header h1 {
	grid-column: 1 / 2;
	grid-row: 1;
	background: green;
}
body header aside {
	grid-column: 2;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	background: silver;
}
.loginGrid {
	grid-row: 1;
}
/* w nawiasie kwadratowym znajduje się odwołanie do wartości atrybutu HTML,
   dzięki czemu można doprecyzować dla którego elementu ma zadziałać selektor.
   Wartość można sprawdzać na kilka sposobów - przyrównania (wartość identyczna do podanej),
   wartość przybliżona (zawierająca), różna
   */
.loginGrid[name=login] {
	grid-column: 1;	
}
.loginGrid[name=pass] {
	grid-column: 2;
}
.buttonGrid {
	grid-column: 1 / span 2;
	grid-row: 2;
	width: 100%;
	background: yellow;
	overflow: hidden;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	cursor: pointer;
}

body nav {
	grid-column: 1;
	grid-row: 2;
}
body main {
	grid-column: 2;
	grid-row: 2;
}
body aside {
	grid-column: 3;
	grid-row: 2;
}
body footer {
	grid-column: 1 / 4;
	grid-row: 3;
}
#adv img {
	width: 100%;
}
.button {
	text-align: center;
	background: lightblue;
	overflow: hidden;
	height: 30px;
	height: 15vh;
	cursor: pointer;
}
.button p {
	font-size: 4.5vh;
	margin-top: calc((15vh / 2) - (6vh / 2));
}
.button:hover {
	opacity: 0.7;
}
.button:active {
	background: gray;
	opacity: 1;
}
#galleryDiv {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: row wrap;
}
#galleryDiv img {
	width: calc(50% - (10px * 2));
	margin: 10px 0 0 10px;
}
/* zapoznać się z przełącznikiem @media; spróbować 
 dostosować szablon względem zmieniającej się szerokości bądź wysokości */